# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Files
.env
client/.env
server/.env

# Logs
logs/
*.log

# Build
client/dist/
client/build/

# OS Files
.DS_Store
Thumbs.db

# Docker Volumes
mongodb_data/
redis_data/